.container{
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;
    // background-color: #000035;
    align-items: center;
}

.h1{
    text-align: center;
    font-size: large;
    text-decoration: #ffffff;

}

.buttons{
    display: flex;
    flex-direction: row;
}