.page-container {
    padding: 1.5rem;
}

.item-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
}
