.logo {
    margin: 0;
    height: 32px;
}



.mat-toolbar{
    display: flex;
    flex-direction: column;
    width: 100%;    
    height: auto;
    position: sticky;
    overflow: hidden;
    background: #102c59;
    // background: #111;
    // background: #161b7f;
}

.topspace{
    width: 100%;
    height: 1rem;
    background: #fff;
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav button{
    margin: 0 0.5rem;
    width: fit-content;

}


.logo {
    position: static;
    display: flex;
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    
}

img{
    position: absolute;
    height: 80px;
    width: 80px;
}

.main{
    height: 100vh;
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7BAFD4;
    // background-color: #fff;
}

.spacer{
    flex: 1 1 auto;
}