<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport>
      <div class="inner-sidenav-container">
        <mat-nav-list>
          <a mat-list-item class="logo-item" routerLink="/" routerLinkActive="active">
            <picture>
                <source
                class="logo" srcset="/assets/unc-logo.jpg" alt="Logo" />
                <img class="logo" src="/assets/unc-logo.jpg" alt="Logo" />
            </picture>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <div>
        <!-- <a mat-list-item routerLink="/about">About</a>
        <mat-divider></mat-divider> -->
        <div>
          <a mat-list-item routerLink="/">
            Home
          </a>
        </div>
    </div>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div class="toolbar">
          <button mat-stroke-button>Menu</button>
        </div>
      </mat-toolbar>
    </mat-sidenav-content>

  </mat-sidenav-container>
  