<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport>
      <div class="inner-sidenav-container">
        <mat-nav-list>
          <a mat-list-item class="logo-item" routerLink="/" routerLinkActive="active">
            <picture>
                <source
                class="logo" srcset="/assets/unc-logo.jpg" alt="Logo" />
                <img class="logo" src="/assets/unc-logo.jpg" alt="Logo" />
            </picture>
          </a>
        </mat-nav-list>

        
      </div>
    </mat-sidenav>

    
  

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div class="toolbar">
          <button mat-button><h1>Menu</h1></button>
          <button mat-button [routerLink]="['/']">
            <h1>Home</h1>
          </button>
        </div>
        
      </mat-toolbar>

      <!-- <mat-nav-list>
        <div>
          <a mat-list-item routerLink="/">
            <h1>Home</h1>
          </a>
        </div>
      </mat-nav-list> -->
    </mat-sidenav-content>

    
  </mat-sidenav-container>
  