.logo {
    margin: 0;
    height: 32px;
}

// .sidenav-container {
//     height: 100%;
//     width: 100%;
// }

// .sidenav {
//     width: 200px;
// }

// .inner-sidenav-container {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;
    background: #032446;
}

.mat-toolbar {
    width: 100%;
    height: 10vh;
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main{
    height: 100vh;
    width: 100%;
}

.logo {
    position: static;
    display: flex;
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    
}

img{
    position: absolute;

    height: 80px;
    width: 80px;
}

.main{
    background-color: #7BAFD4;
}