mat-card {
    display: flex;
    flex-direction: row;
    height: 3rem;
    padding: 0 1rem;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 0.6rem;
    background-color: #ededed;
    border-radius: 20px;
}

mat-card-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.top-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.name {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 32px;
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.cost{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 32px;
    text-decoration-color: rgba(53, 53, 53, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    align-items: center;
}