<mat-card class="card" appearance="outlined">
    
    <mat-card-header class=header>
        <mat-card-subtitle class="seller-info">
            Posted [time] ago, by [user]
        </mat-card-subtitle>
        <!--item image-->
        <img mat-card-md-image src="/assets/no-image2.png"/>
        <mat-card-title class="name">
            {{item.name}}
        </mat-card-title>
    </mat-card-header>
    <div class="bottom-container">
        <mat-card-content class="cost" >
            <span *ngIf="item.cost>0">{{item.cost | currency}}</span>
            <h3 *ngIf="item.cost==0">Free!</h3>
        </mat-card-content>
        
        <!-- Buyer View -->
        <mat-card-actions *ngIf="url=='/items'">
            <a class="links"
                [routerLink]="['/items']">
                <button mat-mini-fab color="primary" (click)="addButtonPressed.emit(item)">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </a>
            <a class="links"
                [routerLink]="['/items']">
                <button mat-mini-fab color="primary" (click)="addButtonPressed.emit(item)">
                    <mat-icon>bookmark</mat-icon>
                </button>
            </a>
        </mat-card-actions>
        
        <!-- Seller View -->
        <mat-card-actions *ngIf="url!='/items'">
            <a class="links"
            [routerLink]="['/item/edit', item.id]">
                <button mat-mini-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </a>
            <a class="links"
            (click)="deleteButtonPressed.emit(item)">
                <button mat-mini-fab color="primary">
                    <mat-icon>delete</mat-icon>
                </button>
            </a>
            
        </mat-card-actions>
    </div>
    
</mat-card>