mat-card {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 300px;
    max-height: 400px;
    padding: 0 1rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.6rem;
}

mat-card-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.top-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

mat-card-image{
    width: fit-content;
    height: 100%;
}

.name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 32px;
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.cost{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 32px;
    text-decoration-color: rgba(53, 53, 53, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    align-items: center;
}

.cost h2{
    color: rgba(184, 74, 74, 0.87);
    font-style: italic;
    align-self: center;
    padding: 0 .5rem 0 .5rem;
}

mat-card-content{
    display: flex;
    align-content: center;
}

.description {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    font-weight: 300;
    text-decoration-color: rgba(61, 61, 61, 0.87);
    padding: 1rem 0 1rem 0;
    overflow: scroll;
}

.description p {
    width: 100%;
    height: 2.5rem;
    line-height: 1rem;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: scroll;
}


.bottom-container{
    display: flex;
    flex-direction: row;
    justify-content:right;
    position: relative;
    right: -50px;
}

mat-card-actions {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0;
}
a{
    padding: 0 5px 0 5px;
}

/* Override Mat UI's preset z-index for button */
.mat-mdc-outlined-button {
    z-index: 0 !important;
}

.link {
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 14px;
}
