.mat-mdc-card {
    // margin: 1em;
    position: relative;
    top: 10vh;
    align-self: center;
    min-width: 60vw;
    max-width: 640px;
}

.mat-mdc-form-field {
    width: stretch;
    margin-bottom: 5px;
}

.mat-mdc-card-actions .mdc-button {
    margin-left: 8px;
    margin-bottom: 8px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    margin-top: 8px;    
}


mat-card{
    // background-color: #7BAFD4;
    
}

