.mat-mdc-card {
    // margin: 1em;
    position: relative;
    top: 10vh;
    align-self: center;
    min-width: 70vw;
    max-width: 400px;
}

.mat-mdc-form-field {
    width: stretch;
    margin-bottom: 5px;
    caret-color: #111;
}

.mat-mdc-card-actions .mdc-button {
    margin-left: 8px;
    margin-bottom: 8px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    margin-top: 8px;    
}

textarea{
    height: fit-content;
    max-height: 5rem;
}


