<div class="bg">  
     <div class="container">
            <div class="top-container">
                <div class="text" *ngIf="cartService.getItems()==null">
                    <h2 >You don't have any items in your cart yet!</h2>
                </div>

                <cart-item-card
                [item]="item"
                *ngFor="let item of cartService.getItems()"
                (deleteButtonPressed)="cartService.deleteItem($event)"
                ></cart-item-card>
            </div>
            <mat-divider></mat-divider>


            <div class="bottom-container">
                <h2>Summary: {{ cartService.getTotalCost() | currency }}</h2>
                <a class="button"
                    [routerLink]="['']">
                    <button mat-raised-button color="primary">
                        Checkout
                    </button>
                </a>
            </div>
        </div>
</div>   