
.top-container{
    min-height: 60vh;
    max-height: 80vh;
    overflow: scroll;
}

.bottom-container{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-evenly;
}


.container{
    height: 100%;
    width: 90%;
    margin: 20px;
    background-color: #fff;
}

.bg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #7BAFD4;;
}


.text{
    padding-top: 20%;
}
.text h2{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 32px;
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}